* {
  padding: 0;
  margin: 0;
  border: 0;
}

#contenedor {
  width: 600px;
  height: 600px;
  background-color: red;
}
#contenedor > #uno {
  background-color: brown;
}
#contenedor > div {
  background-color: yellow;
}
